{
  "openapi": "3.0.1",
  "info": {
      "title": "OpenAPI for Upload API",
      "description": "API for uploading CSVs to Dune",
      "version": "1.0.0"
  },
  "servers": [
      {
          "url": "https://api.dune.com/api"
      }
  ],
  "paths": {
      "/v1/table/upload/csv": {
          "post": {
              "summary": "Upload a CSV as a table in Dune.",
              "description": "This API allows for anyone to upload a CSV as a table in Dune. The size limit per upload is currently 200MB. Your storage is limited by plan, 1MB on free, 15GB on plus, and 50GB on premium.",
              "operationId": "UploadCSV",
              "parameters": [
                  {
                      "in": "header",
                      "name": "X-DUNE-API-KEY",
                      "schema": {
                          "type": "string"
                      },
                      "description": "API Key for accessing this service",
                      "required": true
                  }
                ],
                "requestBody": {
                "required": true,
                "content": {
                    "application/json": {
                    "schema": {
                        "$ref": "#/components/schemas/CSVUploadRequest"
                    }
                    }
                }
                },
              "responses": {
                  "200": {
                      "description": "OK",
                      "content": {
                          "application/json": {
                              "schema": {
                                "type": "object",
                                "properties": {
                                    "query_id": {
                                        "type": "integer",
                                        "format": "int32",
                                        "example": 1616880
                                    }
                                }
                            }
                          }
                      }
                  },
                  "400": {
                      "description": "Bad Request - The request could not be understood by the server due to malformed syntax or validation failure.",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "type": "object",
                                  "properties": {
                                      "error": {
                                          "type": "integer",
                                          "format": "int32"
                                      },
                                      "message": {
                                          "type": "string",
                                          "example": "Core request validation failed"
                                      }
                                  }
                              }
                          }
                      }
                  },
                  "404": {
                      "description": "Resource not found",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/NotFoundError"
                              }
                          }
                      }
                  },
                  "500": {
                      "description": "Internal server error occurred. This usually happens due to unexpected issues in processing the request. It may include errors such as failure in core API execution, invalid query parameters, or issues with the customer data provided.",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "$ref": "#/components/schemas/InternalServerError"
                              }
                          }
                      }
                  }
              }
          }
      }
  },
  "components": {
      "schemas": {
            "CSVUploadRequest": {
                "type": "object",
                "properties": {
                    "Data": {
                        "type": "string",
                        "description": "The data to be uploaded in CSV format.",
                        "example": "DATE,DGS10,\n2023-12-01,4.22,\n2023-12-04,4.28,\n2023-12-05,4.18,\n2023-12-06,4.12,\n2023-12-07,4.14,\n2023-12-08,4.23,\n2023-12-11,4.23,\n2023-12-12,4.20,\n2023-12-13,4.04,\n2023-12-14,3.92,\n2023-12-15,3.91,\n2023-12-18,3.95,\n2023-12-19,3.93,\n2023-12-20,3.86,\n2023-12-21,3.89,\n2023-12-22,3.90,\n2023-12-25,.,\n2023-12-26,3.89,\n2023-12-27,3.79,\n2023-12-28,3.84,\n2023-12-29,3.88"
                    },
                    "Description": {
                        "type": "string",
                        "description": "Description of the upload.",
                        "example": "10 year daily interest rates, sourced from https://fred.stlouisfed.org/series/DGS10"
                    },
                    "TableName": {
                        "type": "string",
                        "description": "The name of the table to store the data.",
                        "example": "ten_year_us_interest_rates"
                    },
                    "IsPrivate": {
                        "type": "boolean",
                        "description": "Indicates if the upload is private.",
                        "example": false
                    }
                }
            },
          "NotFoundError": {
              "type": "object",
              "required": [
                  "error",
                  "message"
              ],
              "properties": {
                  "error": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Error code for resource not found",
                      "example": 404
                  },
                  "message": {
                      "type": "string",
                      "description": "Error message for resource not found",
                      "example": "The requested resource was not found."
                  }
              }
          },
          "InternalServerError": {
              "type": "object",
              "properties": {
                  "error": {
                      "type": "integer",
                      "format": "int32",
                      "example": 500
                  },
                  "message": {
                      "type": "string",
                      "example": "internal error"
                  }
              },
              "description": "Generic error message, given when an unexpected condition is encountered and no more specific message is available. Please consult the API documentation for more details."
          }
      }
  }
}