{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI for trends API",
    "description": "API for predefined trends endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dune.com/api"
    }
  ],
  "paths": {
    "v1/farcaster/trends/users": {
      "get": {
        "summary": "get trending farcaster users who have casted in the last 14 days",
        "description": "Get trending farcaster users who have casted in the last 14 days",
        "operationId": "trendingUsers",
        "parameters": [
          {
            "in": "header",
            "name": "X-DUNE-API-KEY",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service",
            "required": true
          },
          {
            "in": "query",
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service, alternative to using the HTTP header X-DUNE-API-KEY.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                      "execution_id": "01HVKQK08KDVDKHYDKKKHTJWMC",
                      "query_id": 3418402,
                      "is_execution_finished": true,
                      "state": "QUERY_STATE_COMPLETED",
                      "submitted_at": "2024-04-16T15:14:43.606076Z",
                      "expires_at": "2024-07-15T15:15:31.475503Z",
                      "execution_started_at": "2024-04-16T15:15:11.247805Z",
                      "execution_ended_at": "2024-04-16T15:15:31.4755Z",
                      "result": {
                          "rows": [
                              {
                                  "account_age": 223,
                                  "addresses": [
                                      "0xa14b4c95b5247199d74c5578531b4887ca5e4909",
                                      "0x6b0bda3f2ffed5efc83fa8c024acff1dd45793f1",
                                      "0xd7029bdea1c17493893aafe29aad69ef892b8ff2",
                                      "0xd7029bdea1c17493893aafe29aad69ef892b8ff2",
                                      "0xd7029bdea1c17493893aafe29aad69ef892b8ff2",
                                      "0xb877f7bb52d28f06e60f557c00a56225124b357f",
                                      "0x8fc5d6afe572fefc4ec153587b63ce543f6fa2ea"
                                  ],
                                  "all_channels": [
                                      "farcaster",
                                      "warpcast",
                                      "product",
                                      "fc-devs",
                                      "fc-updates",
                                      "memes",
                                      "founders",
                                      "eclipse",
                                      "social",
                                      "honest-work",
                                      "shower-thoughts",
                                      "aoe2",
                                      "history",
                                      "moz",
                                      "frames",
                                      "evm",
                                      "uniswap",
                                      "onchain",
                                      "buywisely",
                                      "9dcc",
                                      "rounds",
                                      "zora",
                                      "rainbow",
                                      "talent",
                                      "pain-points",
                                      "supercast",
                                      "christin",
                                      "ama",
                                      "spirituality",
                                      "undefined",
                                      "six",
                                      "food",
                                      "actions",
                                      "higher",
                                      "someone-build",
                                      "cameron",
                                      "ethereum",
                                      "apple",
                                      "replyguys",
                                      "fc-suggestions",
                                      "travel"
                                  ],
                                  "all_domains": [
                                      "warpcast.notion.site",
                                      "youtube.com",
                                      "docs.farcaster.xyz"
                                  ],
                                  "casts": 178,
                                  "channels": 41,
                                  "contracts_deployed": 204,
                                  "engagement": 64197.15777799128,
                                  "fid": 3,
                                  "fid_active_tier": 4,
                                  "fid_active_tier_last": 4,
                                  "fid_active_tier_name": "\ud83d\udc8e vip",
                                  "fname": "dwr.eth",
                                  "fname_link": "<a href='https://warpcast.com/dwr.eth' target='_blank'>dwr.eth</a>",
                                  "followers": 251641,
                                  "got_likes": 23542,
                                  "got_recasts": 2723,
                                  "got_replies": 5556,
                                  "split_0": "||",
                                  "top_channels": [
                                      "farcaster",
                                      "warpcast",
                                      "product"
                                  ],
                                  "top_domains": [
                                      "warpcast.notion.site",
                                      "youtube.com"
                                  ],
                                  "top_engagers": [
                                      "warpcastbot",
                                      "iturner.eth",
                                      "kidmmo"
                                  ],
                                  "total_transactions": 1185,
                                  "trading_volume_usd": 790785.0209452906,
                                  "wow_casts": -93,
                                  "wow_engage": 14473.54593665625,
                                  "wow_followers": 15145,
                                  "wow_likes": -2099,
                                  "wow_recasts": 2723,
                                  "wow_replies": 799
                              }
                          ],
                          "metadata": {
                              "column_names": [
                                  "fid_active_tier_name",
                                  "fid_active_tier",
                                  "fid_active_tier_last",
                                  "fid",
                                  "fname",
                                  "fname_link",
                                  "account_age",
                                  "channels",
                                  "top_channels",
                                  "top_domains",
                                  "top_engagers",
                                  "followers",
                                  "wow_followers",
                                  "casts",
                                  "wow_casts",
                                  "engagement",
                                  "wow_engage",
                                  "total_transactions",
                                  "trading_volume_usd",
                                  "contracts_deployed",
                                  "split_0",
                                  "got_likes",
                                  "wow_likes",
                                  "got_recasts",
                                  "wow_recasts",
                                  "got_replies",
                                  "wow_replies",
                                  "addresses",
                                  "all_channels",
                                  "all_domains"
                              ],
                              "row_count": 10,
                              "result_set_bytes": 9370,
                              "total_row_count": 112663,
                              "total_result_set_bytes": 55718954,
                              "datapoint_count": 300,
                              "pending_time_millis": 27641,
                              "execution_time_millis": 20227
                          }
                        }
                      },
                      "next_uri": "https://api.dune.com/api/v1/execution/01HVKQK08KDVDKHYDKKKHTJWMC/results?filters=&limit=10&offset=10&sort_by=followers+desc",
                      "next_offset": 10
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax or validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Core request validation failed, make sure you've given required columns and followed formatting rules for the CSV (no special characters or digits in column names)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred. This usually happens due to unexpected issues in processing the request. It may include errors such as failure in core API execution, invalid query parameters, or issues with the customer data provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "401 unauthorized error for invalid API key",
            "example": "invalid API Key"
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message for resource not found",
            "example": "The requested resource was not found."
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "internal error"
          }
        },
        "description": "Generic error message, given when an unexpected condition is encountered and no more specific message is available. Please consult the API documentation for more details."
      }
    }
  }
}
