{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI for EVM API",
    "description": "API for predefined EVM-related endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dune.com/api"
    }
  ],
  "paths": {
    "/v1/trends/evm/contracts/{chain}": {
      "get": {
        "summary": "get trending contracts deployed on any EVM chain based on activity in last 30 days",
        "description": "get trending contracts deployed on any EVM chain based on activity in last 30 days",
        "operationId": "trendingContracts",
        "parameters": [
          {
            "in": "header",
            "name": "X-DUNE-API-KEY",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service",
            "required": true
          },
          {
            "in": "query",
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service, alternative to using the HTTP header X-DUNE-API-KEY.",
            "required": false
          },
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "EVM chain name (use Dune namespace, i.e. ethereum, bnb, polygon, optimsm, etc)"
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10,
            "description": "Limit number of rows to return. This together with 'offset' allows easy pagination through results in an incremental and efficient way. This parameter is incompatible with sampling (sample_count)."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset row number to start (inclusive, first row means offset=0) returning results from. This together with 'limit' allows easy pagination through results in an incremental and efficient way. This parameter is incompatible with sampling (sample_count)."
          },
          {
            "in": "query",
            "name": "filters",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expression to filter out rows from the results to return. This expression is similar to a SQL WHERE clause. More details about it in the Filtering section of the doc. This parameter is incompatible with `sample_count`."
          },
          {
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expression to define the order in which the results should be returned. This expression is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "execution_id": {
                      "type": "string",
                      "description": "Unique identifier for the execution",
                      "example": "01HT6JP0406V2P27ER1Q5VVGVN"
                    },
                    "query_id": {
                      "type": "integer",
                      "description": "Unique identifier for the query",
                      "example": 3575084
                    },
                    "is_execution_finished": {
                      "type": "boolean",
                      "description": "Flag to indicate if the execution is finished",
                      "example": true
                    },
                    "state": {
                      "type": "string",
                      "description": "State of the query execution",
                      "example": "QUERY_STATE_COMPLETED"
                    },
                    "submitted_at": {
                      "type": "string",
                      "description": "Time when the query was submitted",
                      "example": "2024-04-16T15:14:43.606076Z"
                    },
                    "expires_at": {
                      "type": "string",
                      "description": "Time when the query will expire",
                      "example": "2024-07-15T15:15:31.475503Z"
                    },
                    "execution_started_at": {
                      "type": "string",
                      "description": "Time when the execution started",
                      "example": "2024-04-16T15:15:11.247805Z"
                    },
                    "execution_ended_at": {
                      "type": "string",
                      "description": "Time when the execution ended",
                      "example": "2024-04-16T15:15:31.4755Z"
                    },
                    "result": {
                      "type": "object",
                      "description": "results from query",
                      "example": {
                        "rows": [
                          {
                            "blockchain": "ethereum",
                            "contract_address": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                            "contract_calls": 2700467,
                            "contract_name": "Tether_USD",
                            "contract_project": "Tether",
                            "created_time": "2017-11-28 00:41:21.000 UTC",
                            "deployed_days_ago": 2314,
                            "deployer": "0x36928500bc1dcd7af6a2b4008875cc336b927d57",
                            "token_standard": null,
                            "transaction_calls": 3311351,
                            "unique_callers": 937948,
                            "unique_contract_callers": 85191,
                            "usd_value_recieved": 1830950.412353698
                          }
                        ]
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "description": "metadata about the results",
                      "example": {
                        "column_names": [
                          "contract_address",
                          "blockchain",
                          "deployer",
                          "contract_project",
                          "contract_name",
                          "created_time",
                          "deployed_days_ago",
                          "token_standard",
                          "usd_value_recieved",
                          "transaction_calls",
                          "unique_callers",
                          "contract_calls",
                          "unique_contract_callers"
                        ],
                        "row_count": 1,
                        "result_set_bytes": 440,
                        "total_row_count": 994180,
                        "total_result_set_bytes": 155079150,
                        "datapoint_count": 13,
                        "pending_time_millis": 48645,
                        "execution_time_millis": 96350
                      }
                    },
                    "next_uri": {
                      "type": "string",
                      "description": "URI to get the next set of results",
                      "example": "https://api.dune.com/api/v1/execution/01HT6JP0406V2P27ER1Q5VVGVN/results?filters=blockchain%3D%22ethereum%22&limit=1&offset=1&sort_by=transaction_calls+desc"
                    },
                    "next_offset": {
                      "type": "integer",
                      "description": "Offset to get the next set of results",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax or validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Core request validation failed, make sure you've given required columns and followed formatting rules for the CSV (no special characters or digits in column names)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred. This usually happens due to unexpected issues in processing the request. It may include errors such as failure in core API execution, invalid query parameters, or issues with the customer data provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "401 unauthorized error for invalid API key",
            "example": "invalid API Key"
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message for resource not found",
            "example": "The requested resource was not found."
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "internal error"
          }
        },
        "description": "Generic error message, given when an unexpected condition is encountered and no more specific message is available. Please consult the API documentation for more details."
      }
    }
  }
}
