{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI for trends API",
    "description": "API for predefined trends endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.dune.com/api"
    }
  ],
  "paths": {
    "/v1/farcaster/trends/users": {
      "get": {
        "summary": "get trending farcaster users who have casted in the last 14 days",
        "description": "Get trending farcaster users who have casted in the last 14 days",
        "operationId": "trendingUsers",
        "parameters": [
          {
            "in": "header",
            "name": "X-DUNE-API-KEY",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service",
            "required": true
          },
          {
            "in": "query",
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service, alternative to using the HTTP header X-DUNE-API-KEY.",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10,
            "description": "Limit number of rows to return. This together with 'offset' allows easy pagination through results in an incremental and efficient way. This parameter is incompatible with sampling (sample_count)."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset row number to start (inclusive, first row means offset=0) returning results from. This together with 'limit' allows easy pagination through results in an incremental and efficient way. This parameter is incompatible with sampling (sample_count)."
          },
          {
            "in": "query",
            "name": "filters",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expression to filter out rows from the results to return. This expression is similar to a SQL WHERE clause. More details about it in the Filtering section of the doc. This parameter is incompatible with `sample_count`."
          },
          {
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expression to define the order in which the results should be returned. This expression is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                      "execution_id": {
                        "type": "string",
                        "description": "Unique identifier for the execution",
                        "example": "01HVKQK08KDVDKHYDKKKHTJWMC"
                      },
                      "query_id": { 
                        "type": "integer",
                        "description": "Unique identifier for the query",
                        "example": 3633428
                      },
                      "is_execution_finished": {
                        "type": "boolean",
                        "description": "Flag to indicate if the execution is finished",
                        "example": true
                      },
                      "state": { 
                        "type": "string",
                        "description": "State of the query execution",
                        "example": "QUERY_STATE_COMPLETED"
                      },
                      "submitted_at": {
                        "type": "string",
                        "description": "Time when the query was submitted",
                        "example": "2024-04-16T15:14:43.606076Z"
                      },
                      "expires_at": {
                        "type": "string",
                        "description": "Time when the query will expire",
                        "example": "2024-07-15T15:15:31.475503Z"
                      },
                      "execution_started_at": {
                        "type": "string",
                        "description": "Time when the execution started",
                        "example": "2024-04-16T15:15:11.247805Z"
                      },
                      "execution_ended_at": {
                        "type": "string",
                        "description": "Time when the execution ended",
                        "example": "2024-04-16T15:15:31.4755Z"
                      },
                      "result": {
                          "type": "object",
                          "description": "results from query",
                          "example": {
                            "rows": [
                              {
                                "account_age": 224,
                                "addresses": [
                                    "0x6b0bda3f2ffed5efc83fa8c024acff1dd45793f1",
                                    "0xb877f7bb52d28f06e60f557c00a56225124b357f",
                                    "0xa14b4c95b5247199d74c5578531b4887ca5e4909",
                                    "0xd7029bdea1c17493893aafe29aad69ef892b8ff2",
                                    "0xd7029bdea1c17493893aafe29aad69ef892b8ff2",
                                    "0xd7029bdea1c17493893aafe29aad69ef892b8ff2",
                                    "0x8fc5d6afe572fefc4ec153587b63ce543f6fa2ea"
                                ],
                                "casts": 161,
                                "channels": 42,
                                "contracts_deployed": 204,
                                "engagement": 71062.86674253445,
                                "fid": 3,
                                "fid_active_tier": 4,
                                "fid_active_tier_last": 4,
                                "fid_active_tier_name": "vip",
                                "fname": "dwr.eth",
                                "followers": 252265,
                                "got_likes": 27842,
                                "got_recasts": 3342,
                                "got_replies": 6003,
                                "top_channels": [
                                    "farcaster",
                                    "warpcast",
                                    "product"
                                ],
                                "top_domains": [
                                    "docs.farcaster.xyz",
                                    "warpcast.notion.site"
                                ],
                                "top_engagers": [
                                    "warpcastbot",
                                    "iturner.eth",
                                    "kidmmo"
                                ],
                                "total_transactions": 1185,
                                "trading_volume_usd": 790785.0209452906,
                                "wow_casts": -114,
                                "wow_engage": 28414.895986926094,
                                "wow_followers": 13987,
                                "wow_likes": 4132,
                                "wow_recasts": 3342,
                                "wow_replies": 2057
                             }
                            ]
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadata for the query",
                        "example": {
                          "column_names": [
                            "fid_active_tier_name",
                            "fid_active_tier",
                            "fid_active_tier_last",
                            "fid",
                            "fname",
                            "account_age",
                            "channels",
                            "top_channels",
                            "top_domains",
                            "top_engagers",
                            "followers",
                            "wow_followers",
                            "casts",
                            "wow_casts",
                            "engagement",
                            "wow_engage",
                            "total_transactions",
                            "trading_volume_usd",
                            "contracts_deployed",
                            "got_likes",
                            "wow_likes",
                            "got_recasts",
                            "wow_recasts",
                            "got_replies",
                            "wow_replies",
                            "addresses"
                        ],
                        "row_count": 1,
                        "result_set_bytes": 1584,
                        "total_row_count": 112663,
                        "total_result_set_bytes": 55714212,
                        "datapoint_count": 30,
                        "pending_time_millis": 800,
                        "execution_time_millis": 23701
                      }
                    },
                      "next_uri": {
                        "type": "string",
                        "description": "URI to get the next set of results",
                        "example": "https://api.dune.com/api/v1/execution/01HVKQK08KDVDKHYDKKKHTJWMC/results?filters=&limit=10&offset=10&sort_by=followers+desc"
                      },
                      "next_offset": {
                        "type": "integer",
                        "description": "Offset to get the next set of results",
                        "example": 10
                      }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax or validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Core request validation failed, make sure you've given required columns and followed formatting rules for the CSV (no special characters or digits in column names)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred. This usually happens due to unexpected issues in processing the request. It may include errors such as failure in core API execution, invalid query parameters, or issues with the customer data provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/farcaster/trends/channels": {
      "get": {
        "summary": "get trending farcaster channels that have had casts in the last 14 days",
        "description": "Get trending farcaster hannels that have had casts in the last 14 days",
        "operationId": "trendingChannels",
        "parameters": [
          {
            "in": "header",
            "name": "X-DUNE-API-KEY",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service",
            "required": true
          },
          {
            "in": "query",
            "name": "api_key",
            "schema": {
              "type": "string"
            },
            "description": "API Key for the service, alternative to using the HTTP header X-DUNE-API-KEY.",
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10,
            "description": "Limit number of rows to return. This together with 'offset' allows easy pagination through results in an incremental and efficient way. This parameter is incompatible with sampling (sample_count)."
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset row number to start (inclusive, first row means offset=0) returning results from. This together with 'limit' allows easy pagination through results in an incremental and efficient way. This parameter is incompatible with sampling (sample_count)."
          },
          {
            "in": "query",
            "name": "filters",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expression to filter out rows from the results to return. This expression is similar to a SQL WHERE clause. More details about it in the Filtering section of the doc. This parameter is incompatible with `sample_count`."
          },
          {
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Expression to define the order in which the results should be returned. This expression is similar to a SQL ORDER BY clause. More details about it in the Sorting section of the doc."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                      "execution_id": {
                        "type": "string",
                        "description": "Unique identifier for the execution",
                        "example": "01HVKQK08KDVDKHYDKKKHTJWMC"
                      },
                      "query_id": { 
                        "type": "integer",
                        "description": "Unique identifier for the query",
                        "example": 3633434
                      },
                      "is_execution_finished": {
                        "type": "boolean",
                        "description": "Flag to indicate if the execution is finished",
                        "example": true
                      },
                      "state": { 
                        "type": "string",
                        "description": "State of the query execution",
                        "example": "QUERY_STATE_COMPLETED"
                      },
                      "submitted_at": {
                        "type": "string",
                        "description": "Time when the query was submitted",
                        "example": "2024-04-16T15:14:43.606076Z"
                      },
                      "expires_at": {
                        "type": "string",
                        "description": "Time when the query will expire",
                        "example": "2024-07-15T15:15:31.475503Z"
                      },
                      "execution_started_at": {
                        "type": "string",
                        "description": "Time when the execution started",
                        "example": "2024-04-16T15:15:11.247805Z"
                      },
                      "execution_ended_at": {
                        "type": "string",
                        "description": "Time when the execution ended",
                        "example": "2024-04-16T15:15:31.4755Z"
                      },
                      "result": {
                          "type": "object",
                          "description": "results from query",
                          "example": {
                            "rows": [
                              {
                                "active_influencer": 41,
                                "active_npc": 9922,
                                "active_star": 4749,
                                "active_user": 6555,
                                "active_vip": 11,
                                "channel": "zora",
                                "channel_age": 225,
                                "channel_tier": 4,
                                "channel_tier_last": 4,
                                "channel_tier_name": "stadium",
                                "engagement": 986141.8744016357,
                                "got_casts": 70056,
                                "got_likes": 1897359,
                                "got_recasts": 610489,
                                "got_replies": 684280,
                                "influential_casters": [
                                    "mikedemarais.eth",
                                    "six",
                                    "flexasaurusrex"
                                ],
                                "top_casters": [
                                    "ameenullah",
                                    "yoonje",
                                    "samuray07",
                                    "omid77",
                                    "ako1988",
                                    "hank68",
                                    "ayla1638",
                                    "maryamtab",
                                    "ilannnnnnnnkatin",
                                    "woww"
                                ],
                                "top_domains": [
                                    "zora.co",
                                    "farcaster.manifold.xyz",
                                    "frames.poster.fun"
                                ],
                                "wow_active_user": 101,
                                "wow_cast": 8356,
                                "wow_engage": 175460.7229972462,
                                "wow_influencer": -6,
                                "wow_likes": 420394,
                                "wow_npc": -3690,
                                "wow_recasts": 180216,
                                "wow_reply": 25247,
                                "wow_star": 82,
                                "wow_vip": -2
                               }
                            ]
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Metadata for the query",
                        "example": {
                            "column_names": [
                            "channel_tier_name",
                            "channel_tier",
                            "channel_tier_last",
                            "channel",
                            "channel_age",
                            "influential_casters",
                            "got_casts",
                            "wow_cast",
                            "engagement",
                            "wow_engage",
                            "active_npc",
                            "wow_npc",
                            "active_user",
                            "wow_active_user",
                            "active_star",
                            "wow_star",
                            "active_influencer",
                            "wow_influencer",
                            "active_vip",
                            "wow_vip",
                            "got_replies",
                            "wow_reply",
                            "got_likes",
                            "wow_likes",
                            "got_recasts",
                            "wow_recasts",
                            "top_domains",
                            "top_casters"
                        ],
                        "row_count": 1,
                        "result_set_bytes": 763,
                        "total_row_count": 7940,
                        "total_result_set_bytes": 1278003,
                        "datapoint_count": 28,
                        "pending_time_millis": 1110,
                        "execution_time_millis": 26170
                        }
                      },
                      "next_uri": {
                        "type": "string",
                        "description": "URI to get the next set of results",
                        "example": "https://api.dune.com/api/v1/execution/01HVKQK08KDVDKHYDKKKHTJWMC/results?filters=&limit=10&offset=10&sort_by=followers+desc"
                      },
                      "next_offset": {
                        "type": "integer",
                        "description": "Offset to get the next set of results",
                        "example": 10
                      }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax or validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Core request validation failed, make sure you've given required columns and followed formatting rules for the CSV (no special characters or digits in column names)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error occurred. This usually happens due to unexpected issues in processing the request. It may include errors such as failure in core API execution, invalid query parameters, or issues with the customer data provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "401 unauthorized error for invalid API key",
            "example": "invalid API Key"
          }
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message for resource not found",
            "example": "The requested resource was not found."
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "internal error"
          }
        },
        "description": "Generic error message, given when an unexpected condition is encountered and no more specific message is available. Please consult the API documentation for more details."
      }
    }
  }
}
